@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #212121;
  color: #f2f2f2;
}

#usernamePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 20px;
}

#usernamePage label {
  font-size: 24px;
}

#usernamePage input {
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 4px;
  width: 250px;
}

#usernamePage button {
  padding: 10px 20px;
  color: #f2f2f2;
  border-radius: 5px;
  border: none;
  outline: none;
  background-image: radial-gradient(
    circle 975px at 2.6% 48.3%,
    rgba(0, 8, 120, 1) 0%,
    rgba(95, 184, 224, 1) 99.7%
  );
  font-size: 16px;
  font-weight: 700;
}

#chatPage {
  display: none;
  justify-content: space-between;
  gap: 16px;
}

.usernamePage {
  width: 30%;
  background-color: #414141;
}
.usernamePage .usersTitle{
    width: 100%;
    text-align: center;
    padding: 8px;
}
#userList {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  overflow: auto;
}

.userr {
  background-color: rgb(58, 58, 58);
  color: #f2f2f2;
  border-radius: 20px;
  padding: 1px 5px;
  font-size: 12px;
}

.conuser {
  background-color: rgb(0, 181, 69);
  width: fit-content;
  height: fit-content;
  padding: 2px 10px;
  border-radius: 20px;
  font-size: 12px;
}

.box {
  width: 100%;
  height: 100vh;
}

#chatMessages {
  padding: 10px;
  background-color: #313131;
  height: 90vh;
  overflow: auto;
}

#messageInput {
  flex: 0;
  display: flex;
  padding: 10px;
  gap: 5px;
  width: 100%;
  background-color: #313131;
}

#messageInput input {
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 18px;
  width: 100%;
}

button {
  cursor: pointer;
  padding: 2px 20px;
  border: none;
  outline: none;
  font-size: 18px;
  background-image: radial-gradient(
    circle 975px at 2.6% 48.3%,
    rgba(0, 8, 120, 1) 0%,
    rgba(95, 184, 224, 1) 99.7%
  );
  border-radius: 4px;
  color: white;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
